@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Forum&family=Inter&family=Lilita+One&family=Luckiest+Guy&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 95%;
  margin: auto;
  background-color: red;
}

body {
  font-family: 'Luckiest Guy';
}

h2 {

  /* font-weight: 300; */
  font-size: 35px;
  color: white;
}

.header_wraper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 40px;
}

.nav {}

.nav__menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.menu {
  list-style: none;
  text-decoration: none;
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
}

.menu:hover {
  font-size: 30px;
  text-decoration: underline;
}

.decor {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.addition,
.subtraction {
  display: flex;
  gap: 10px;
  padding: 10px 40px;
}

.add,
.subtract {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 632px;
  width: 1200px;

  background-color: rgb(245, 245, 245);
  /* color: green;  */
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-weight: 300; */
  gap: 55px;
  font-size: 200px;
}

.operand__first,
.operator__second {
  color: red;
}

.operand__second {
  color: #fed766;
}

.operator__three {
  color: gray;
}

.operator {
  color: rgb(78, 100, 226);
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.numberAdd,
.numberSub,
.numberMult,
.numberDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  /* background-color: gray;
  border: 2px solid gray; */
  font-family: 'Luckiest Guy';
  /* font-weight: 300; */
  font-size: 170px;
  cursor: pointer;
}

#number1,
#numberSub1,
#numberMult1,
#numberDiv1 {
  color: rgb(245, 245, 245);
  background: red;
  transition: 1s;
}

#number1:hover,
#numberSub1:hover,
#numberMult1:hover,
#numberDiv1:hover {
  color: red;
  background-color: rgb(245, 245, 245);
}

#number2,
#numberSub2,
#numberMult2,
#numberDiv2 {
  color: rgb(245, 245, 245);
  background: rgb(78, 100, 226);
  transition: 1s;
}

#number2:hover,
#numberSub2:hover,
#numberMult2:hover,
#numberDiv2:hover {
  color: rgb(78, 100, 226);
  background-color: rgb(245, 245, 245);
}

#number3,
#numberSub3,
#numberMult3,
#numberDiv3 {
  color: rgb(245, 245, 245);
  background: #fed766;
  transition: 1s;
}

#number3:hover,
#numberSub3:hover,
#numberMult3:hover,
#numberDiv3:hover {
  color: #fed766;
  background-color: rgb(245, 245, 245);
}

.numberDiv:hover {
  background-color: rgb(144, 58, 58);
}

.numberAdd:hover {
  background-color: rgb(144, 58, 58);
}

.numberSub:hover {
  background-color: rgb(144, 58, 58);
}

.numberMult:hover {
  background-color: rgb(144, 58, 58);
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.resume2 {
  /* display: none; */
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  position: fixed;
  top: 100px;
  left: 40px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  max-height: 80vh;

}

.resume1 {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.modal__resume {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.modal__resume__window {
  background: #fff;
  position: relative;
  width: 700px;
  height: 450px;
  border: 1px solid #ccc;
  padding: 20px 25px;
  z-index: 2;
}

.modal__resume .owerlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: brown;
  opacity: 0.7;
  z-index: 0;
}

.footer__rss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px 20px 40px 20px;
}

.footer__rss--1 {
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 0;
  transition: 1s;
}

.footer__rss--1 img {
  width: 80px;
}

.footer__rss a:hover {
  color: red;
}